<div class="row">
  <div class="span12 noun-city-header">
    <%= image_tag @city.image_path %>
    <h1><%= @noun.name %> <small>in <%= @city.name %></small> <span class="pull-right"><%= @count %> answers</span></h1>
  </div>
</div>

<div class="row">
  <div class="span8">

        <% @answers.each_with_index do |answer, index| %>
          <div class="noun-city-answer">
            <div class="row">
              <div class="span1">
                <h4 class="reputation"><%= answer.reputation %></h4>
              </div>
              <div class="span7">
                <h4 class="name"><%= link_to answer.location.name, answer.location %></h4>
                <h4 class="address"><i class="icon-map-marker"></i><small><%= answer.location.address.street_address %></small></h4>
              </div>
            </div>

            <div class="row">
              <div class="span7 offset1">
                <blockquote>
                  <p><%= answer.body %></p>
                  <small>Suggested by <cite title="Source Title"><%= link_to answer.user.name, user_path(answer.user) %></cite></small>
                </blockquote>
              </div>
            </div>

            <div class="row">
              <div class="span7 offset1">
                <dl>
                  <dt>Also known for</dt>
                  <dd>
                    <%= raw answer.location.nouns.collect { |noun| link_to noun.name, noun_city_path(noun, @city) if noun != @noun }.compact.join(", ") %>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        <% end %>
  </div>
</div>



